/.idea
/.vscode
/Accordion.css
/AccordionMenu.html
/AnalogSaat.html
/Animation.css
/Bootstrap
/Calendar.css
/CalendarStyling.html
/Cinsiyet.css
/Cinsiyet.js
/CinsiyetSecimi.html
/Clock.css
/Clock.js
/ContactForm.html
/CssGlowing.html
/Desing.css
/Desing.js
/Form.css
/GeceModu.css
/GeceModu.html
/Globewithsunposition.css
/Globewithsunposition.html
/Globewithsunposition.js
/IconicTabBar.css
/IconicTabBar.html
/Input.css
/Input.js
/Light
/LoginForm.css
/LoginForm.html
/Mail.css
/MailButton.html
/MusicPlayer.html
/NewYork.css
/NikeProductCard.html
/ParallaxWorldofUGG.html
/PasswordInput.html
/PixelArt.css
/PixelArt.html
/PixelArt.js
/Profiles.css
/Progress.css
/Project.css
/Project.js
/Responsive.html
/Shoes.css
/SimpleMusicAppUIDesign.html
/Skills.html
/Sleep.css
/Sleeping
/Sleeping.html
/SocialMediaProfiles.html
/TextAnimation.html
/burger.html
/cpcdays.css
/cpcdays.html
/cpcdays.js
/deneme.css
/deneme.html
/icons.css
/index.html
/style.css
/styles.css
/table.css